<div class="menu-overlay"></div>


<!-- jQuery  -->
<script src="~/Admin/vertical/assets/js/jquery.min.js"></script>
<script src="~/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/vertical/assets/js/metismenu.min.js"></script>
<script src="~/Admin/vertical/assets/js/waves.js"></script>
<script src="~/Admin/vertical/assets/js/simplebar.min.js"></script>

<!-- App js -->
<script src="~/Admin/vertical/assets/js/theme.js"></script>
@* <!-- Sweet Alerts Js-->
<script src="~/Admin/plugins/sweetalert2/sweetalert2.min.js"></script>

<!-- Sweet Alerts Js-->
<script src="~/Admin/vertical/assets/pages/sweet-alert-demo.js"></script> *@