
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    BookCar Yazar
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menü</li>
                <li><a href="/AuthorBlog/Index/" class="waves-effect"><i class="feather-airplay"></i><span>Dashboard</span></a></li>
                <li><a href="/Default/Index/" class="waves-effect"><i class="fas fa-home"></i><span>Siteye Git</span></a></li>
                <li><a href="/AuthorProfile/Index/" class="waves-effect"><i class="fas fa-info"></i><span>Profil</span></a></li>
                <li><a href="/AuthorBlog/BlogList/" class="waves-effect"><i class="fas fa-pencil-alt"></i><span>Bloglarım</span></a></li>
                <li><a href="/AuthorBlog/Create/" class="waves-effect"><i class="fas fa-pencil-alt"></i><span>Blog Ekle </span></a></li>
                <li><a href="/AuthorCategory/Index/" class="waves-effect"><i class="fas fa-certificate"></i><span>Blog Kategorileri</span></a></li>
               <li><a href="/AuthorComment/Index" class="waves-effect"><i class="fas fa-comment-dots"></i><span>Yorumlar</span></a></li>
                <li><a href="/Login/Logout" class="waves-effect"><i class="fas fa-window-close"></i><span>Çıkış Yap</span></a></li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
